doctype html
html(lang="nl")
  head
    base(href="/")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Nummering — Een gemakkelijk data merge tool voor In Design.
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="default")
    meta(name="apple-mobile-web-app-title", content="Nummering")
    link(rel="manifest", href="static/icons/manifest.json")
  body
    #app
